.App {
  display: flex;
  justify-content: space-between; /* Spread main-content and WeaponList */
  padding: 10px;
}

.main-content {
  margin-right: 10px;    /* Space between main content and WeaponList */
}
