body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
}

.damage-calculator-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.damage-calculator-form {
  display: flex;
  flex-direction: column;
}
h1 {
  color: #333;
  text-align: center;
}

form {
  display: flex;
  justify-content: flex-start; /* Align form to the left */
  padding: 5px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f8f9fa;
  font-weight: bold;
}

input[type="text"] {
  width: 75%;
  padding: 2px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 5px 10px;
  background-color: #28a745;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #218838;
}

.calculated-damage {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  padding: 5px;
  border-radius: 8px;
  text-align: center;
  margin: 0 auto;
}

.form-footer {
  padding-top: 5px;
  display: flex;  /* Use flexbox to arrange items in a row */
}

.armor-class-container {
  display: flex; /* Use flexbox for this container */
  align-items: center; /* Vertically center the input and label */
  margin-right: 20px; /* Add some space between this and the checkbox */
}

.armor-class-container input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.critical-hit-immunity-container {
  display: flex; /* Use flexbox for this container */
  align-items: center; /* Vertically center the checkbox and label */
  margin-right: 20px; /* Add space between checkbox and button */
}

.button-container {
  display: flex; /* Use flexbox for this container */
  float: right;
}